.dropdown-menu{
    widows: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
}

.dropdown-menu li{
    background: greenyellow;
    cursor: pointer;
}

.dropdown-menu li:hover{
    background: rgb(47, 255, 50);
}

.dropdown-menu.clicked{
    display: none;
}

.dropdown-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: antiquewhite;
}