.dropdown-menu{
    width: 160px;
    position: absolute;
    top: 50px;
    margin-top: 25px;
    text-align: start;

}


.dropdown-menu li{
    background: #eeeaea;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    color: #eeeaea;
}

a, a:hover{
    text-decoration: none;
    color:rgb(67, 152, 47);
}
.dropdown-menu li:hover{
    background: #efd5de;
    border-left: 3px solid #e91e63;;
}

.dropdown-menu.clicked{
    display: none;
}

.dropdown-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: antiquewhite;
}




@media screen and (max-width: 1435px) {

    .dropdown-menu{
        height: 25px;
        padding-left: 5rem;
        padding-top: 6rem;
        align-items: center;
      

        &:hover{
            cursor: pointer;
        }
    }
} 