/* html,body{
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
}horizontal scroll fix */

.navbar {
  background: #eeeaea;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky; 
  top: 0;
  z-index: 999;
}

.navbar-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {

  margin-left: 20px;
  cursor: pointer;
  display: flex;
}

.navbar-logo:hover{
  color: rgb(92, 231, 65);
}

.nav-menu {
  
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-right: 2rem;
  
}

nav li{
  float: left;
  width: 180px;
  display: block;
  transition: color .5s;
     
} 

.nav-item {
  height: 80px;
  font-weight: 600;
}

.nav-links {
  color:rgb(67, 152, 47);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 5px solid #e91e63;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: rgb(67, 152, 47);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

.navbar-container img{
  width:90px;
  height: 150px;
}
@media screen and (max-width: 1435px) {
    /* .navbar {
    background: #eeeaea;
   
    } */

  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90vh;
    position: absolute;
    top: 92px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 10px;
    
  }

  nav li{
    width: 555px;
    /* width: 840px; */
    justify-content: center;
    align-items: center;
  } 

  .nav-item {
    height: 100px;
  }

  .nav-menu.active {
    /* background: linear-gradient(90deg, rgba(177, 163, 163, 0.693)  0%, rgba(240, 236, 236, 0.284) 100%); */
    background: #ECE9E6;  /* fallback for old browsers */
   
    background: -webkit-linear-gradient(to right,#f3f1ef, #eeeaea);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f3f1ef, #eeeaea); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 60%;
    display: table;
    
  }

  .nav-links:hover {
    background: #fff;
    height: 10px;
    color: rgb(92, 231, 65);
    border-radius: 20px;
    border-bottom: 2px solid #e91e63;
    
  }
  /* .nav-links:hover {
  border-bottom: 3px solid #e91e63;
  transition: all 0.2s ease-out;
} */

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: rgb(67, 152, 47);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: rgb(67, 152, 47);
    padding: 14px 20px;
    margin-top:  30px;
    width: 332px;
    padding: 8px;
    
    
    
  }

  .nav-links-mobile a{
    width: 60%;
  }
  .nav-links-mobile:hover {
    background: #fff;
    height: 85px;
    border-radius: 20px;
    border-bottom: 2px solid #e91e63;
    color:rgb(92, 231, 65);
   
    
  }
}