* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  /* font-family: system-ui; */
  line-height: 1.5;
  /* background-color: #eeeaea;; */
  
}

.home,
.projects,
.contact,
.about,
.getInvolved,
.team {
    
    font-family: system-ui;
   
    line-height: 1.5;
    overflow-x: hidden;
      
}



.home{
    background-color: rgb(67, 152, 47);
    background-image: linear-gradient(rgba(41, 39, 39, 0.3), rgba(67, 63, 63, 0.3)), url("/public/images/01homeBanner.jpg");
    background-size: cover;
    background-attachment: fixed ;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 450px; 
}

.projects{
    background-color: rgb(67, 152, 47);
    background-image: linear-gradient(rgba(41, 39, 39, 0.3), rgba(67, 63, 63, 0.3)), url("/public/images/01projectBanner.jpg");
    background-size: cover;
    background-attachment: fixed ;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 400px; 
}

.contact{
    background-color: rgb(67, 152, 47);
    background-image: linear-gradient(rgba(41, 39, 39, 0.3), rgba(67, 63, 63, 0.3)), url("/public/images/01contactBanner.jpg");
    background-size: cover;
    background-attachment: fixed ;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 450px;
}

.team{
    background-color: rgb(67, 152, 47);
    background-image: linear-gradient(rgba(41, 39, 39, 0.3), rgba(67, 63, 63, 0.3)), url("/public/images/01teamBanner.jpg");
    background-size: cover;
    background-attachment: fixed ;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 450px; 
}

.getInvolved{
    background-color: rgb(67, 152, 47);
    background-image: linear-gradient(rgba(41, 39, 39, 0.3), rgba(67, 63, 63, 0.3)), url("/public/images/01getInvolBanner.jpg");
    background-size: cover;
    background-attachment: fixed ;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 450px; 
}